h3{
    color: orange;
    background-color: aquamarine;
    font-size: 40px;
}
p{
    color: black;
    background-color: white;
    font-size: 20px;
}

thead,tfoot{
    color: black;
    background-color: antiquewhite;
    font-size: 20px;
}

.t_transform_uppercase{
    text-transform: uppercase;
}

.t_transform_lowercase{
    text-transform: lowercase;
}

.t_transform_capitlize{
    text-transform: capitalize;
}

.t_align_center{
    text-align: center;
}

.t_align_right{
    text-align: right;
}

.t_decor_over{
    text-decoration: overline;
}

.t_decor_line{
    text-decoration: line-through;
}

.t_decor_under{
    text-decoration: underline;
}


.t_indent{
    text-indent: 110px;
}

.t_line_height{
    line-height: 30px;
}

.t_letter_spacing{
    letter-spacing: 20px;
}

.t_word_spacing{
    word-spacing: 20px;
}

.t_shadow{
    color: blueviolet;
    text-shadow: 4px 6px 4px red;
    font-size: 70px;
    text-align: center;
}

.t_shadow1{
    color: black;
    text-shadow: 6px 5px 4px gray;
    font-size: 50px;
    text-align: center;
}

.t_shadow2{
    color: palevioletred;
    text-shadow: 4px 5px 3px aquamarine;
    font-size: 80px;
    text-align: center;
}

.t_shadow3{
    color: red;
    text-shadow: 2px 2px 5px darkred;
    font-size: 70px;
    text-align: center;
}

.img_b_shadow{
    width: 500px;
    box-shadow: 5px 6px 7px green;
}
/* using rgb */
.img_b_shadow2{
    width: 500px;
     box-shadow: 5px 6px 7px rgb(#ff0000, green, rgb(0, 26, 255));
}
/* using hexa */
.img_b_shadow3{
    width: 500px;
     box-shadow: 5px 6px 7px #F527E4;

}

.img_d_shadow{
    width: 500px;
    filter: drop-shadow(5px 5px 5px red);
}

.img_d_shadow1{
   width: 500px;
    filter: drop-shadow(5px 5px 5px red); 
}

.img_d_shadow2{
    width: 700px;
    filter: drop-shadow(5px 5px 5px aqua); 
}

.f_family1{
    font-family: monospace;
}

.f_family2{
    font-family: cursive;
}

.f_family3{
    font-family: sans-serif;
}

.f_family4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.f_family5{
    font-family: fantasy;
}

.f_family6{
    font-family: Arial, Helvetica, sans-serif;
}

.f_weight{
    font-weight: bolder;
    font-style: italic;
}

.f_font{
    font: italic bold 30px Verdana;
}
/* #heading1{ */
    /* color: red; */
/* } */

.heading1{
    color: blue;
    font-size: 70px;
}

#t_decor{
    text-decoration: overline;
}

.t_transform{
    text-transform: uppercase;
}
/* solid,groove,double,dashed,dotted,inset,outset */
.b_img1{
    width: 400px;
    border: 5px groove red;
}

.b_img2{
    width: 400px;
    border: 3px dashed red;
}

.b_img3{
    width: 400px;
    border: 3px dotted red;
}

.b_img4{
    width: 400px;
    border: 5px double red;
}


.b_img5{
    width: 400px;
    border: 5px inset red;
}

.b_img6{
    width: 400px;
    border: 5px outset red;
}

.b_img7{
    width: 400px;
    border: 5px solid;
    border-top-color: blueviolet;
    border-right-color: green;
    border-bottom-color: aqua;
    border-left-color: red;
}

.b_img8{
    width: 400px;
    border: 5px double red;
    /* border-radius: 20px; */
    /* border-top-left-radius: 50px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 40px; */

    border-radius: 50px 70px 50px 70px;
    border-color: red green palevioletred aqua;

}

.simple{
    border: 5px solid red;
}

.box_model1{
    border: 5px solid red;
    padding: 40px;
    margin: 50px;
}

.box_model2{
     border: 5px solid red;
   /* padding-top: 40px;
   padding-right: 30px;
   padding-bottom: 20px;
   padding-left: 50px; */ 
   /* padding: 10px 60px; */
   padding: 30px 40px 30px 40px; 
}
.box_model3{
     border: 5px solid red;
   /* margin-top: 50px;
   margin-right: 30px;
   margin-bottom: 40px;
   margin-left: 70px; */

     margin: 50px 60px; 
     box-shadow: 4px 5px 8px blue;
     font-family: cursive;


}

.box{
    width: 200px;
    height: 100px;
    background-color: gainsboro;
    border: 4px solid red;
    margin-bottom: 10px;
}

.box1{
    position: static;
}
.box2{
    position: relative;
    top: 30px;
    left: 150px;
}

.box3{
    position: absolute;
    top: 30px;
    left: 150px;
}

.box4{
    position: fixed;
    bottom: 0px;
    right: 10px;
}

.box5{
    position: sticky;
    top: 10px;

}

.rel{
    position: relative;
    height: 400px;
    width: 400px;
    background-color: darkcyan;
    left: 100px;
}

#tv{
    position: absolute;
    height: 50px;
    width: 150px;
    background-color: blueviolet;
    left: 125px;
}

#sofa{
    position: absolute;
    height: 100px;
    width: 250px;
    background-color: red;
    left: 80px;
    top: 120px;
}

#fridge{
    position: absolute;
    height: 120px;
    width: 100px;
    background-color: green;
    right: 0px;
    top: 250px;
}

/* body{
    background-image: url("/images/moon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.heading{
    color:black;
    font-size: 60px;
    text-align: center;
} */

/* .t_para{
    color: black;
    padding: 30px;
    /* background-color: antiquewhite; */
    /* font-size: 30px;
    font-family: cursive;
} */ 

.linear{
    height: 600px;
    background: linear-gradient(orange,white,green);
}
h1{
    color: black;
    text-align: center;
}

.radial{
    height: 800px;
    background: radial-gradient(circle at left top,black,blue,red,green);
}

.conic{
    height: 500px;
    background: conic-gradient(from 90deg, red,yellow,aqua,blue,red);
}


.flex-item{
    width: 200px;
    height: 150px;
    margin: 10px; 
    margin-top: 10px;
    background-color: #F527E4;
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container{
    display: flex;
     flex-direction: row;
    /* flex-wrap: wrap;  */
     flex-direction: row-reverse; 
    flex-flow: row wrap;
    list-style: none;
    /* justify-content: space-around , space-between,space-evenly;  */
    justify-content: space-between;

}

.flex_gallery{
    width: 200px;
    height: 150px;
    /* margin: 20px;  */
    margin-top: 10px;
    background-color: #F527E4;
    color: aqua; 
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: black;
    box-shadow: 5px 6px 7px rgb(108, 63, 63);
}

.gallery{
    display: flex;
     /* flex-direction: row; */
     flex-flow: row wrap;
     list-style: none;
     justify-content: space-around; 
     
}

h1{
    color: red;

}
h1:hover{
    color: #F527E4;
    font: 100px;
    background-color: antiquewhite;


}

.para_hover{
    border: black;
}

.para_hover:hover{
    border: 2px solid red;
    padding: 10px;
    background: linear-gradient(black,green);
    color: white;
    padding: 40px;
    margin: 50px;
}

h2:active{
    color: red;
    font-size: 40px;
    cursor: pointer;
}
a:visited{
    color: green;
}

input:focus{
    background-color: aquamarine;
    color: black;
    border: 8px solid yellowgreen;
}

p::first-letter{
    color: red;
    font-size: 30px;

}

p::first-line{
    color: blue;
}

::selection{
    color: red;
    background-color: pink;
}