h3{
    color: orange;
    background-color: aquamarine;
    font-size: 40px;
}
p{
    color: black;
    background-color: white;
    font-size: 20px;
}

thead,tfoot{
    color: black;
    background-color: antiquewhite;
    font-size: 20px;
}

.t_transform_uppercase{
    text-transform: uppercase;
}

.t_transform_lowercase{
    text-transform: lowercase;
}

.t_transform_capitlize{
    text-transform: capitalize;
}

.t_align_center{
    text-align: center;
}

.t_align_right{
    text-align: right;
}

.t_decor_over{
    text-decoration: overline;
}

.t_decor_line{
    text-decoration: line-through;
}

.t_decor_under{
    text-decoration: underline;
}


.t_indent{
    text-indent: 110px;
}

.t_line_height{
    line-height: 30px;
}

.t_letter_spacing{
    letter-spacing: 20px;
}

.t_word_spacing{
    word-spacing: 20px;
}

.t_shadow{
    color: blueviolet;
    text-shadow: 4px 6px 4px red;
    font-size: 70px;
    text-align: center;
}

.t_shadow1{
    color: black;
    text-shadow: 6px 5px 4px gray;
    font-size: 50px;
    text-align: center;
}

.t_shadow2{
    color: palevioletred;
    text-shadow: 4px 5px 3px aquamarine;
    font-size: 80px;
    text-align: center;
}

.t_shadow3{
    color: red;
    text-shadow: 2px 2px 5px darkred;
    font-size: 70px;
    text-align: center;
}

.img_b_shadow{
    width: 500px;
    box-shadow: 5px 6px 7px green;
}
/* using rgb */
.img_b_shadow2{
    width: 500px;
     box-shadow: 5px 6px 7px rgb(#ff0000, green, rgb(0, 26, 255));
}
/* using hexa */
.img_b_shadow3{
    width: 500px;
     box-shadow: 5px 6px 7px #F527E4;

}

.img_d_shadow{
    width: 500px;
    filter: drop-shadow(5px 5px 5px red);
}

.img_d_shadow1{
   width: 500px;
    filter: drop-shadow(5px 5px 5px red); 
}

.img_d_shadow2{
    width: 700px;
    filter: drop-shadow(5px 5px 5px aqua); 
}

.f_family1{
    font-family: monospace;
}

.f_family2{
    font-family: cursive;
}

.f_family3{
    font-family: sans-serif;
}

.f_family4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.f_family5{
    font-family: fantasy;
}

.f_family6{
    font-family: Arial, Helvetica, sans-serif;
}

.f_weight{
    font-weight: bolder;
    font-style: italic;
}

.f_font{
    font: italic bold 30px Verdana;
}
/* #heading1{ */
    /* color: red; */
/* } */

.heading1{
    color: blue;
    font-size: 70px;
}

#t_decor{
    text-decoration: overline;
}

.t_transform{
    text-transform: uppercase;
}